version: '3.7'
services:
 postgres:
  container_name: ${NAME}_postgres
  image: postgres:15.3-alpine
  restart: on-failure
  environment:
   POSTGRES_USER: ${POSTGRES_USER}
   POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  ports:
   - '5432:5432'
  volumes:
   - ./.data/postgresql:/var/lib/postgresql/data
  networks:
   default:
    ipv4_address: ${POSTGRES_IP}
 php:
  container_name: ${NAME}_php
  build:
   context: ./etc/php
  volumes:
   - "./../services/:/srv/src/"
   - "./etc/php/config/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini"
  networks:
   default:
    ipv4_address: ${PHP_IP}
  extra_hosts:
   - "host.docker.internal:host-gateway"
 mongo:
  container_name: ${NAME}_mongo
  image: mongo:7
  restart: on-failure
  environment:
   MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
   MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
  ports:
   - '27017:27017'
  volumes:
   - /data/mongo/data:/data/db
  networks:
   default:
    ipv4_address: ${MONGO_IP}
 nginx:
  container_name: ${NAME}_nginx
  depends_on:
   - php
  image: nginx:1.15.8
  ports:
   - '8080:80'
  volumes:
   - "./.data/nginx/logs:/var/log/nginx"
   - "./etc/nginx/:/etc/nginx/conf.d/"
   - "./../services/:/srv/src/"
  networks:
   default:
    ipv4_address: ${NGINX_IP}
networks:
 default:
  driver: bridge
  ipam:
   driver: default
   config:
    - subnet: ${SUBNET}

